@import url('https://fonts.cdnfonts.com/css/fredoka-one');

html,
body {
  overflow: hidden;
  margin: 0px;
  height: 100%;
  font-family: "Trebuchet MS", sans-serif;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  width: 100%;
  height: 100%;
  display: block;
}

.info-section{
  position: absolute;margin: 10px;
}

.loader-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: center;
  z-index: 1;
  position: fixed;
  color: #fff;
  flex-direction: column;
}
.loader-container img {
  margin: 0;
  width: 110px;
}
.loader-container h3 {
  margin: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
 color: #fff;
}

.menu-buttons-container {
  bottom: 0px;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  position: absolute;
  margin-bottom: 40px;
}

.car-selection-buttons {
  display: flex;
  
  bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;


}
.car-selection-buttons h2{
  color:#fff;
  margin: 0 20px;
  display: block;
  padding:10px 20px;
  background-color: #0079d00e;
}
.car-selection-container{
  display: none;
  flex-direction: column;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-family: 'Fredoka One',system-ui,-apple-system,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
}
button{
  background-color: #0078d0;
  border: 0;
  border-radius: 56px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: 'Fredoka One',system-ui,-apple-system,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 18px;
  font-weight: 600;
  outline: 0;
  padding: 16px 21px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  overflow: hidden;
  margin: 5px;
  z-index: 99999999;
}

button:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 125px;
  content: "";
  height: 50%;
  left: 4%;
  opacity: .5;
  position: absolute;
  top: 0;
  transition: all .3s;
  width: 92%;
}

button:hover {
  box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
  transform: scale(1.05);
}

@media (min-width: 768px) {
button {
    padding: 12px 40px;
  }
}

#createCompetitionButton{
  padding: 8px 15px;
  border-radius: 10px;
}


.modal {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0078d0;
  border: 0;
  color: #fff;
  font-family: 'Fredoka One',system-ui,"Segoe UI",Roboto,Ubuntu,"Helvetica Neue",sans-serif;
  font-size: 20px;
  font-weight: 600;
  outline: 0;
  position: relative;
  text-align: center;
  overflow: hidden;
  width: 400px;
  border-top-left-radius:10px ;
  border-top-right-radius:10px ;
  padding: 10px 10px;
  box-sizing: border-box;
  z-index: 100000;
}
.modal-header:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 0px;
  content: "";
  height: 50%;
  left: 0%;
  opacity: .5;
  position: absolute;
  top: 0;
  width: 100%;
}

.empty-space{
  opacity: 0;
}
.modal-header h2, .modal-header h4, h4, h3{
  margin: 0;
}
.modal-body {
  width: 400px;
  height: 250px;
  background-color: #4F2A87;
  box-shadow:
    inset 10px 0 150px #f0f,  /* left magenta */
    inset -10px 0 150px #0ff; /* right cyan */
  /* margin-top: -100px; */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  overflow-y: auto;
  z-index: 100000;
}
#spectatorModeModalBody{
  align-items: center;
  flex-direction: column;
}
.modal-bottom{
  background-color: #0078d0;
  display: inline-block;
font-size: 16px;
  font-weight: 600;
  outline: 0;
  position: relative;
  width: 400px;
  height: 30px;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}
.modal-bottom:before {
  background-color: initial;
  background-image: linear-gradient(#fff 0, rgba(255, 255, 255, 0) 100%);
  border-radius: 0px;
  content: "";
  height: 100%;
  left: 0%;
  opacity: .5;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-bottom-left-radius:10px ;
  border-bottom-right-radius:10px ;
}
#competitionModal{
 display: none;
}
#competitionModal .modal-body {
  text-align: center;
  min-height: 200px;
 
}
#competitionModalBody{
display: flex;
align-items: center;
flex-direction: column;
}
#closeCompetitionModal{
 cursor: pointer;
 z-index:1;
}

.spinner {
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #3498db;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  text-align: center;
}
#newCompetitionSpinner, #copyLinkButton, #startTournamentButton{
  display: none;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.pause-button{
  right:0;
  position: absolute;
  margin: 20px;
  display: none;
}

#gamePausedModal{
  display: none;
}

.race-info-section{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  
}

#gameOverModal{
  display: none;
}

#liveScoreBoard{
  display: block;
  position: absolute;
  right: 0;
  margin: 150px 10px;
  font-size:25px;
  color: #fff;
}

#tournamentInvitationModal{
  display: none;
}

#selectCharacterBtn{
  display: none;
}
#character-price-button {
  display: block;
}

.home-menu{
  right:0;
  position: absolute;
  margin: 20px 10px;
  display: none;
}

#closeTournamentGameOverModal, #closeSpectatorModeModal, #closeAboutModal{
  cursor: pointer;
  z-index: 1;
}

#tournamentGameOverModal, #aboutModal{
  display: none;
}
#tournamentGameOverModal h2{
margin: 0;
font-size: 22px;
}
#tournamentGameOverModal p{
  margin: 0;
  font-size: 18px;
  padding: 10px 0;
  }

#spectatorModeModal{
  display: none;
}

.trophy-icon{
  font-size: 70px;
}

#congratulatonsModeModal{
  display:none
}
.disable-touch {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: none;
  
}

@media screen and (max-width: 480px) {
  
  .modal-header, .modal-body, .modal-bottom{
width: 95%;

 } 
 
}





















































































































.confetti-container {
  user-select: none;
  z-index: 1;
  
  
}
.confetti {
  position: fixed;
  left: 0;
  right: 0;
  display: none;
  /* z-index: 500; */
  width: 100vw;
   height: 100vh; 
  overflow: hidden; 
}

.confetti .square {
  width: 1rem;
  height: 1rem;
  background-color: var(--bg);
  transform: rotate(-140deg);
}

.confetti .rectangle {
  width: 1rem;
  height: 0.5rem;
  background-color: var(--bg);
}

.confetti .hexagram {
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-bottom: 1rem solid var(--bg);
  position: relative;
}

.confetti .hexagram:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 0.5rem solid transparent;
  border-right: 0.5rem solid transparent;
  border-top: 1rem solid var(--bg);
  position: absolute;
  top: 0.33rem;
  left: -0.5rem;
}

.confetti .pentagram {
  width: 0rem;
  height: 0rem;
  display: block;
  margin: 0.5rem 0;
  border-right: 1rem solid transparent;
  border-bottom: 0.7rem solid var(--bg);
  border-left: 1rem solid transparent;
  transform: rotate(35deg);
  position: relative;
}
.confetti .pentagram:before {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-bottom: 0.8rem solid var(--bg);
  border-left: 0.3rem solid transparent;
  border-right: 0.3rem solid transparent;
  transform: rotate(-35deg);
  position: absolute;
  top: -0.45rem;
  left: -0.65rem;
}
.confetti .pentagram:after {
  content: "";
  width: 0rem;
  height: 0rem;
  display: block;
  border-right: 1rem solid transparent;
  border-bottom: 0.7rem solid var(--bg);
  border-left: 1rem solid transparent;
  transform: rotate(-70deg);
  position: absolute;
  top: 0.03rem;
  left: -1.05rem;
}

.confetti .dodecagram {
  background: var(--bg);
  width: 0.8rem;
  height: 0.8rem;
  position: relative;
}

.confetti .dodecagram:before {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background: var(--bg);
  transform: rotate(30deg);
  position: absolute;
  top: 0;
  left: 0;
}
.confetti .dodecagram:after {
  content: "";
  height: 0.8rem;
  width: 0.8rem;
  background: var(--bg);
  transform: rotate(60deg);
  position: absolute;
  top: 0;
  left: 0;
}

.confetti .wavy-line {
  position: relative;
}
.confetti .wavy-line::after,
.confetti .wavy-line::before {
  content: "";
  height: 1rem;
  width: 8rem;
  background-size: 2rem 1rem;
  position: absolute;
  left: -9rem;
  transform: rotate(90deg);
}

.confetti .wavy-line::before {
  background-image: linear-gradient(
    45deg,
    transparent,
    transparent 50%,
    var(--bg) 50%,
    transparent 60%
  );
  top: 1rem;
}
.confetti .wavy-line::after {
  background-image: linear-gradient(
    -45deg,
    transparent,
    transparent 50%,
    var(--bg) 50%,
    transparent 60%
  );
}

.confetti i {
  width: 3rem;
  height: 3rem;
  margin: 0 0.2rem;
  animation-name: confetti;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-duration: calc(70s / var(--speed));
}

.confetti i:nth-child(even) {
  transform: rotate(90deg);
}

@keyframes confetti {
  0% {
    transform: translateY(-100vh);
  }

  100% {
    transform: translateY(100vh);
  }
}